#log{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-size: 9px;
    line-height: 16px;
}

#btn1{
    color: rgb(124, 8, 8); 
    background-color: transparent;
    border: none;
}

#btn2{
    color: rgb(124, 8, 8); 
    background-color: transparent;
    border: none;
}

#btn3{
    color: rgb(124, 8, 8); 
    background-color: transparent;
    border: none;
}

#btn4{
    color: rgb(124, 8, 8); 
    background-color: transparent;
    border: none;
}

#tle1{
    color:rgb(207 50 50); 
    font-size: 25px;
}

#btn5{
    color: #ffffff; 
    background-color:blue;
    border: none;
    border-radius: 0;
}

#btn6{
    color: #ffffff; 
    background-color:rgb(35, 85, 194);
    border: none;
    border-radius: 0;
}

#btn7{
    color: #ffffff; 
    background-color:rgb(124, 8, 8);
    border: none;
    border-radius: 0;
}

.btn-common1{
    margin: 2px;
    width: 90%;
    font-weight: 600;
}

.btn-common2{
    font-weight: 600;
    color: rgb(124, 8, 8);
}

.btn-common2:hover{
    font-weight: 600;
    color: rgb(124, 8, 8);
}